/* From Uiverse.io by kosedagyazilim */
.button {
  display: inline-block;
  padding: 10px 18px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to bottom, #4aa76c, #3d8a58);
  border: none;
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: translateY(0px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #3d8a58, #4aa76c);
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.button:before {
  top: -3px;
  left: -3px;
  border-radius: 7px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.button:after {
  bottom: -3px;
  right: -3px;
  border-radius: 7px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

/* BUTTON CONNECT */
.button-connect {
  display: inline-block;
  padding: 10px 18px;
  margin: 10px;
  width: 65%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to bottom, #4aa76c, #3d8a58);
  border: none;
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.button-connect:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.button-connect:active {
  transform: translateY(0px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #3d8a58, #4aa76c);
}

.button-connect:before,
.button-connect:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

/* .button-connect:before {
  top: -3px;
  left: -3px;
  border-radius: 7px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.button-connect:after {
  bottom: -3px;
  right: -3px;
  border-radius: 7px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
} */

/* BUTTON STAKING */
.button-staking {
  display: inline-block;
  padding: 10px 18px;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to bottom, #4aa76c, #3d8a58);
  border: none;
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.button-staking:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.button-staking:active {
  transform: translateY(0px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #3d8a58, #4aa76c);
}

.button-staking:before,
.button-staking:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

/* BUTTON WITHDRAW STAKING */
.button-withdraw-staking {
  display: inline-block;
  padding: 10px 18px;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to bottom, #5d5d5d, #3a3a3a);
  border: none;
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.button-withdraw-staking:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.button-withdraw-staking:active {
  transform: translateY(0px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #3a3a3a, #5d5d5d);
}

.button-withdraw-staking:before,
.button-withdraw-staking:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

/* BUTTON 2 */
.button-2 {
  display: inline-block;
  width: 100%;
  padding: 10px 18px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to bottom, #4aa76c, #3d8a58);
  border: none;
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.button-2:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.button-2:active {
  transform: translateY(0px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #3d8a58, #4aa76c);
}

.button-2:before,
.button-2:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.button-2:before {
  top: -3px;
  left: -3px;
  border-radius: 7px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.button-2:after {
  bottom: -3px;
  right: -3px;
  border-radius: 7px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

/* From Uiverse.io by kosedagyazilim */
.button-3 {
  display: inline-block;
  padding: 10px 18px;
  width: 100%;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to bottom, #4aa76c, #3d8a58);
  border: none;
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.button-3:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.button-3:active {
  transform: translateY(0px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #3d8a58, #4aa76c);
}

.button-3:before,
.button-3:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.button-3:before {
  top: -3px;
  left: -3px;
  border-radius: 7px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.button-3:after {
  bottom: -3px;
  right: -3px;
  border-radius: 7px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}
