@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #252525;
  --foreground: #171717;
  --font-font-1: "BebasNeue-Regular", sans-serif;
  --font-font-2: "Jeko-Regular", sans-serif;
  --font-font-2-bold: "Jeko-Bold", sans-serif;
  --font-font-2-extra-bold: "Jeko-Extra-Bold", sans-serif;
  --font-font-2-black: "Jeko-Black", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252525;
    --foreground: #ededed;
    --font-font-1: "BebasNeue-Regular", sans-serif;
    --font-font-2: "Jeko-Regular", sans-serif;
    --font-font-2-bold: "Jeko-Bold", sans-serif;
    --font-font-2-extra-bold: "Jeko-Extra-Bold", sans-serif;
    --font-font-2-black: "Jeko-Black", sans-serif;
  }
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("./fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jeko-Regular";
  src: url("./fonts/Jeko-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jeko-Bold";
  src: url("./fonts/Jeko-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Jeko-Extra-Bold";
  src: url("./fonts/Jeko-Extra-Bold.ttf") format("truetype");
  font-weight: extra-bold;
  font-style: normal;
}

@font-face {
  font-family: "Jeko-Black";
  src: url("./fonts/Jeko-Black.ttf") format("truetype");
  font-weight: black;
  font-style: normal;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1.5px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

@keyframes stretch {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.stretch-animation {
  animation: stretch 3s infinite;
}

@keyframes updown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.updown-animation {
  animation: updown 2s ease-in-out infinite;
}

@keyframes rotate-hold {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(8deg);
  }
  70% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotate-hold-animation {
  animation: rotate-hold 3s infinite;
}

.delay-0 {
  animation-delay: 0s;
}
.delay-1 {
  animation-delay: 0.2s;
}

.scroll-bar-hidden::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-font-1);
}
